  <!-- Landing -->
  <section class="landing">
    <div class="landing-text">
      <h2>Télécharger ou envoyez vos certificats par mail.</h2>
      
      <a routerLink="Download" class="btn btn-lg">Récupèrer dès maintenant</a>
    </div>
  </section>
<!-- Features -->
<table>
    <thead>
        <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Email</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <button class="btn btn-lg">Télécharger</button>
            </td>
            <td>
                <button class="btn btn-lg">Envoyer par mail</button>
            </td>
        </tr>

    </tbody>
    <tfoot>
        <td colspan="5" class="tablefoot"></td>
    </tfoot>
</table>
<br><br>