<!-- Footer -->
<footer class="footer" id="resources">
    <div class="container">
      <!-- Social Media -->
      <div class="social-media">
        <a href="https://www.facebook.com/fablabtanger/">
          <img src="../../assets/images/facebook-3-24.png" alt="Facebook Logo">
        </a>
        <a href="https://www.linkedin.com/company/greenlab-fablab-tanger/">
          <img src="../../assets/images/linkedin-6-24.png" alt="Linkedin Logo">
        </a>
        <a href="https://www.instagram.com/fablabtanger/">
          <img src="../../assets/images/instagram.png" alt="Instagram Logo">
        </a>
      </div>
    </div>
</footer>
