<header class="header">
    <div class="container flex-between">
      <div class="logo">
        <a href="#">
          <!-- <img src="../../assets/images/greenlab.jpg" alt="" /> -->
          <span><h1>GreenLab</h1></span>
        </a>
      </div>
      <nav class="main-navgation flex-between flex-ver-top">
        <div class="nav-links">
          <a routerLink="/">Page d'acceuil</a>
          <a routerLink="/Create">Créer une formation</a>
          <a routerLink="/Download">Télécharger vos certificat</a>
        </div>
        <div class="nav-buttons">
          <a href="#" class="log-in">Connexion</a>
          <a href="#" class="sign-up btn btn-sm">S'inscrire</a>
        </div>
      </nav>
      <div class="burger-menu">
        <i class="fa-regular fa-bars icon"></i>
      </div>
    </div>
  </header>
