  <!-- Landing -->
  <section class="landing">
    <div class="landing-text">
      <h1>Créer la formation et générer vos certificats.</h1>
      
      <a href="" class="btn btn-lg" id="box">Créer maintenant</a>
    </div>
  </section>
  <!-- Our form -->
  <section>
    <div class="container">
        <form>
            <div id="form-main-container">
            <div id="form-area">
              <div id="form-title">
              Payment online
              </div>
              <div id="form-body">
                <div>
                  <div class="col-12">
                    <fieldset class="form-group">
                      <label class="form-label" for="input4">Input</label>
                      <input type="text" class="form-control" id="input4" placeholder="Input" required>
                    </fieldset>
                  </div>
                  <div class="col-12">
                    <fieldset class="form-group">
                      <label class="form-label" for="input5">Input</label>
                      <input type="text" class="form-control" id="input5" placeholder="Input" required>
                    </fieldset>
                  </div>
                  <div class="col-12">
                    <fieldset class="form-group">
                      <label class="form-label" for="input6">Input</label>
                      <input type="text" class="form-control" id="input6" placeholder="Input" required>
                    </fieldset>
                  </div>
                </div>
                <div>
                  <div class="center-text button-area">
                    <button type="button" class="btn btn-cancel">Cancel</button>
                  </div>
                 
                </div>
              </div>
            </div>
          </div>
          </form>
    </div>
</section>