  <!-- Landing -->
  <section class="landing">
    <div class="landing-text">
      <h1>Plus qu'un club, c'est une culture.</h1>
      <p>
        Qu'est-ce que vous attendez ? Rejoignez dès maintenant notre club et profitez de nos différentes formations.
      </p>
      <a href="#url-shorten-form" class="btn btn-lg">Nos formations</a>
    </div>
    <div class="landing-image">
      <img src="https://raw.githubusercontent.com/MohamedAridah/frontendmentor_url-shortening-api/main/images/illustration-working.svg" alt="Working Illustration" />
    </div>
  </section>
  <!-- Features -->
  <section class="features" id="features">
    <div class="container">
      <!-- Short URL Feature -->
      <div class="url-shorten-feature">
        <form class="url-shorten-form" id="url-shorten-form">
            <div class="section-header">
                <h2 style="color:white">Advanced Statistics</h2>
            </div>
        </form>
        <div class="url-shorten-results"></div>
      </div>
      <!-- Advanced Features -->
      <div class="more-features">
        <div class="section-header">
          <p>
            Track how your links are performing across the web with our
            advanced statistics dashboard.
          </p>
        </div>
        <div class="more-features-content">
          <div class="feature">
            <div class="feature-illustration">
              <img src="https://raw.githubusercontent.com/MohamedAridah/frontendmentor_url-shortening-api/main/images/icon-brand-recognition.svg" alt="Feature Illustration Icon" />
            </div>
            <div class="feature-details">
              <h3>Brand Recognition</h3>
              <p>
                Boost your brand recognition with each click. Generic links
                don’t mean a thing. Branded links help instil confidence in
                your content.
              </p>
            </div>
          </div>
          <div class="feature">
            <div class="feature-illustration">
              <img src="https://raw.githubusercontent.com/MohamedAridah/frontendmentor_url-shortening-api/main/images/icon-detailed-records.svg" alt="Feature Illustration Icon" />
            </div>
            <div class="feature-details">
              <h3>Detailed Records</h3>
              <p>
                Gain insights into who is clicking your links. Knowing when
                and where people engage with your content helps inform
                better decisions.
              </p>
            </div>
          </div>
          <div class="feature">
            <div class="feature-illustration">
              <img src="https://raw.githubusercontent.com/MohamedAridah/frontendmentor_url-shortening-api/main/images/icon-fully-customizable.svg" alt="Feature Illustration Icon" />
            </div>
            <div class="feature-details">
              <h3>Fully Customizable</h3>
              <p>
                Improve brand awareness and content discoverability through
                customizable links, supercharging audience engagement.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Pricing -->
  <section class="pricing" id="pricing">
    <div class="container">
      <div class="section-header">
        <h2>Boost your links today</h2>
        <a href="#" class="btn btn-lg">Get Started</a>
      </div>
    </div>
  </section>