  <!-- Landing -->
  <section class="landing">
    <div class="landing-text">
      <h1>Plus qu'un club, c'est une communauté.</h1>
      <p>
        Qu'est-ce que vous attendez ? Rejoignez dès maintenant notre club et profitez de nos différentes formations.
      </p>
      <a href="#url-shorten-form" class="btn btn-lg">Nos formations</a>
    </div>
    <div class="landing-image">
      <img src="https://raw.githubusercontent.com/MohamedAridah/frontendmentor_url-shortening-api/main/images/illustration-working.svg" alt="Working Illustration" />
    </div>
  </section>
  <!-- Features -->
  <section class="features" id="features">
    <div class="container">
      <!-- Short URL Feature -->
      <div class="url-shorten-feature">
        <form class="url-shorten-form" id="url-shorten-form">
            <div class="section-header">
                <h2 style="color:white">Nos formations actuelles.</h2>
            </div>
        </form>
        <div class="url-shorten-results"></div>
      </div>
      <!-- Advanced Features -->
      <div class="more-features">
        <div class="section-header">
          <p>
            Inscrivez-vous à GreenLab et bénéficiez des réductions sur nos formations certifiées.
          </p>
        </div>
        <div class="more-features-content">
          <div class="feature">
            <div class="feature-illustration">
              <img src="../../assets/images/DS-CATIA-Logo.png" alt="Feature Illustration Icon" />
            </div>
            <div class="feature-details">
              <h3>CATIA</h3>
              <p>
                CATIA est un logiciel de conception assistée par ordinateur (CAO) créé au départ par la société Dassault Aviation pour ses propres besoins sous le nom de CATI. La compagnie Dassault Systèmes fut créée en 1981 pour en assurer le développement et la maintenance sous le nom de CATIA, IBM en assurant la commercialisation.
              </p>
            </div>
          </div>
          <div class="feature">
            <div class="feature-illustration">
              <img src="../../assets/images/Illustrator.png" alt="Feature Illustration Icon" />
            </div>
            <div class="feature-details">
              <h3>ILLUSTRATOR</h3>
              <p>
                Adobe Illustrator est un logiciel de création graphique vectorielle. Il fait partie de la gamme Adobe, peut être utilisé indépendamment ou en complément de Photoshop, et offre des outils de dessin vectoriel puissants. Les images vectorielles sont constituées de courbes générées par des formules mathématiques.
              </p>
            </div>
          </div>
          <div class="feature">
            <div class="feature-illustration">
              <img src="../../assets/images/python.png" alt="Feature Illustration Icon" />
            </div>
            <div class="feature-details">
              <h3>PYTHON</h3>
              <p>
                Python est un langage de programmation interprété, multi-paradigme et multiplateformes. Il favorise la programmation impérative structurée, fonctionnelle et orientée objet. Il est doté d'un typage dynamique fort, d'une gestion automatique de la mémoire par ramasse-miettes et d'un système de gestion d'exceptions ; il est ainsi similaire à Perl, Ruby, Scheme, Smalltalk et Tcl.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>